/* Base Styles -------------------- */

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  color: #384047;
  font-family: Merriweather;
}

fieldset{
  border: initial;
  padding: 0;
}


/* Form Fields -------------------- */


textarea,
select,
.input{
  font-size: 1em;
  color: #222;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1em; 
}

select,
input{
  margin-bottom: 50px;
  font-family: Merriweather;

}

select {
  color: #9ea9b2;
}

p {
  margin: 0;
}

button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4ebbb5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-family: Merriweather;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #239e95;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

textarea {
  border: 1px solid #767777;
}

/* Pseudo Classes -------------------- */

input::placeholder {
  color: #9ea9b2;
  text-align: right;
  font-style: italic;
}

input:focus, 
textarea:focus {
  border: 1px solid #1e3547;
}

input:hover,
textarea:hover {
  background-color: #7e8281;
}

/* Basic Style -------------------- */


.wrap,
.wrap-2{
  width: 90%;
  margin: 0 auto;
}

.header {
  padding: 50px 50px;
  background-color: #1e3547;
  color: #fff;
  font-size: 1.5em;
  margin-top: 0;
  text-align: center;
}

.note{
  text-align: center;
  border-bottom: 5px solid #1e3547;
  color: #9ea9b2;
  font-size: 1em;
  margin-bottom: 5px;
  padding-bottom: 10px;

}

.note-2 {
  margin-bottom: 30px;
}

.signup{
  margin-bottom: 5px;
  text-align: center;
}


.legend-1 {
  border-top: 2px solid #1e3547;
  margin-top: 500px;
  padding: 40px 0 10px 0;
  text-align: left;
  font-size: 1.5em;
  display: block;
  width: 100%;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 0 20px 0;


}

.legend-2 {
  text-align: left;
  font-size: 1.5em;
  display: block;
  font-weight: bold;
  margin-bottom: 30px;
  }

.choose {
  padding: 30px 0;
}

#zip{
  width: 50%;
}

#state {
  color: #9ea9b2;
}

.zip {
  margin-top: 20px;
}

.checkbox {
  margin-top: 0;
}

.css,
.javascript {
  margin-top: 20px;
}

.html-fm{
  margin-top: 30px;
}

.news {
  margin-left: 10px;
}

.format {
  margin-top: 30px;
}

.background {
  background-color: #efefef;
  padding-bottom: 100px;
  padding-top: 50px;
  border-top: 3px solid #1e3547;
  margin-top: 50px;
}

.copyright{
  text-align: center;
  color: #9ea9b2;
  font-style: italic;
}

/*.b-bottom{
    border-bottom: 2px solid #1e3547;
    margin-top: 10px;
  }*/

/* Media Queries -------------------- */

@media (min-width: 760px) {
  .wrap,
  .wrap-2 {
    width: 60%;
    margin: 0 auto;
  }

#zip{
  width: 30%;
  text-align: left;
}

.zip{
  width: 28%;
}

/* Flexbox -------------------- */

  fieldset .flex{
    display: flex;
    
  }

  input .row,
  label .col {
    flex-direction: column;
  }

  label {
    width: 40%;
  }

  label .zip {
    width: 20%;
  }

  option{
    color: #9ea9b2;
  }

  
}